p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
}
.main-container {
  background-image: url('celeste-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
